 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Raleway", sans-serif
 }

 body,
 html {
     height: 100%;
     line-height: 1.8;
 }

 /* Full height image header */
 .bgimg-1 {
     background-position: center;
     background-size: cover;
     background-image: url("../images/background-image.jpg");
     min-height: 100%;
 }

 .w3-bar .w3-button {
     padding: 16px;
 }

 /* Ensure interactive elements have visible focus styles */
 :focus {
     outline: 2px solid #0078d4;
 }

 /* Primary Color */
 body {
     background-color: #607D8B;
     /* Blue Gray */
     ;
 }

 /* Secondary Color */
 .w3-bar,
 .w3-button,
 .w3-hover-opacity,
 .w3-dropdown-content {
     background-color: #263238;
     /* Dark Blue Gray */
 }

 /* Accent Color */
 .w3-top .w3-button:hover,
 .w3-top .w3-button:focus,
 .w3-sidebar a:hover,
 .w3-sidebar a:focus {
     color: #FFD600;
     /* Yellow */
 }

 /* Text Color */
 .w3-text-white {
     color: #FFFFFF;
     /* White */
 }

 /* Card Background Color */
 .w3-card {
     background-color: #263238;
     /* Dark Blue Gray */
 }

 /* Card Text Color */
 .w3-card,
 .w3-card * {
     color: #FFFFFF;
     /* White */
 }

 /* Contact Button Background Color on Hover */
 .w3-card .w3-button:hover {
     background-color: #FDD835;
     /* Yellow */
 }

 /* Contact Button Text Color on Hover */
 .w3-card .w3-button:hover {
     color: #263238;
     /* Dark Blue Gray */
 }

 /* Change the color of the menu text to black */
 .w3-bar-item {
     color: black !important;
     /* Use !important to override any existing styles */
 }

 /* Media query for screens smaller than 768px */
 @media (max-width: 768px) {

     body {
         font-size: 14px;
         /* Reduce font size for smartphones */
     }

     header {
         text-align: center;
         /* Center-align header content */
     }

     .navigation {
         flex-direction: column;
         /* Change navigation to a vertical list for smartphones */
     }

 }

 /* Media query for screens between 768px and 1024px */
 @media (min-width: 769px) and (max-width: 1024px) {

     body {
         font-size: 16px;
         /* Increase font size for tablets */
     }

     .navigation {
         justify-content: space-between;
         /* Space out navigation items for tablets */
     }

 }

 /* Media query for screens larger than 1024px */
 @media (min-width: 1025px) {
     body {
         font-size: 18px;
         /* Increase font size for desktops */
     }

     .container {
         display: grid;
         /* Use a grid layout for desktops */
         grid-template-columns: 1fr 2fr;
         /* Two-column layout */
         gap: 20px;
         /* Add gap between grid items */
     }
 }